<!-- START - Hero -->
    <section class="block block--dark block--skewed-left hero">
        <div class="container grid grid--1x2">
            <header class="block__header hero__content">
            <h1 class="block__heading">Choose the right MyTax plan for your business</h1>
            <p class="hero__tagline">Whether you need to manage accounting or payrolls, we have something tailored for your needs </p>
            <a href="" class="btn btn--outline btn--stretched">Get in touch</a>
            </header>
            <picture>
            <source
                type="image/webp"
                srcset="images/banner.webp 1x, images/banner@2x.webp 2x"
            />
            <source
                type="image/png"
                srcset="images/banner.png 1x, images/banner@2x.png 2x"
            />
            <img class="hero__image" src="images/banner.png" alt="" />
            </picture>
        </div>
    </section>
    <!-- END - Hero -->